/* .home{
    background: url('../Media/background.mp4');
} */
#myVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1000;
}
.heading{
    font-size: 50px;
    /* border: 2px solid green; */
}
.home-container{
    padding: 40vh 0vh;
    /* border: 2px solid yellow; */
}
.my-font{
    font-family: 'light';

}
.btn-custom{
    padding: 1rem 2rem;
}
.btn-custom:hover{
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    border: 1px solid white;
    background: transparent;
    color: white;
}
@media screen and (min-width: 1000px) {
    .heading {
      font-size: 75px;
    }
  }